:root {
  --body-bg: #e1dfdf;
  --header-bg: rgba(27, 82, 128, 0.9);
  --bar_color1: #1b5280;
  --bar_color2: #f4c432;
  --color_text_blue: #1b5280;
  --color_text_yellow: #f4c432;
  --color_text_menu: #abc9d9;
  --border_text_yellow: #fff;
  --dark_textcolor: #333;
  --text_menu_title: #ead410;
  --form_bg_color: #ebebeb;
  --footer_bg_color: #171717;
  --footer_textcolor: #918686;
  --font_main: roboto;
  --font_second: raleway;
  --font_size_bigger: 1.25rem;
  --font_size_big: 1.125rem;
  --font_size_medium: 1rem;
  --font_size_small: 0.875rem;
  --font_size_xsmall: 0.75rem;
  --font_size_smaller: 0.5rem;
  --body_w: 20rem;
  --header_h: 14rem;
  --bar_title_height: 3.1875rem;
  --bar_title_blue_w: 3.0625rem;
  --bar_title_yellow_w: 17.8125rem;
  --footer_h: 13.75rem;
  --border_size_ty: 0.5;
  --line-height: 1.5;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
  margin: 0;
  position: relative;
}
h1,
h2,
h3,
ul li {
  font-family: var(--font_main), sans-serif;
  font-weight: 700;
}
p {
  font-family: var(--font_second), sans-serif;
}
img{
  max-width: 100%;
}
form{
  display: block;
  background: var(--form_bg_color);
  box-shadow: var(--shadow);
}
/* -------------------------------------header ----------------------------------------*/
header{
  height: var(--header_h);
  width: var(--body_w);
  background-image: linear-gradient(var(--header-bg), var(--bar_color1)),
    url(../img/menushape-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 40% 35%;
  border-bottom-right-radius: 40% 35%;
}
/* --------------------main --------------------------------------------------*/


/*----------------------------- formulario------------------------------- */

/* ---------------------------footer---------------------------------------- */

footer {
  background-color: var(--footer_bg_color);
  height: var(--footer_h);
  width: var(--body_w);
  color: var(--footer_textcolor);
  display: grid;
}
