:root {
  --body-bg: #e1dfdf;
  --header-bg: rgba(27, 82, 128, 0.9);
  --bar_color1: #1b5280;
  --bar_color2: #f4c432;
  --color_text_blue: #1b5280;
  --color_text_yellow: #f4c432;
  --color_text_menu: #abc9d9;
  --border_text_yellow: #ffffff;
  --dark_textcolor: #282b2d;
  --text_menu_title: #ead410;
  --form_bg_color: #ebebeb;
  --footer_bg_color: #171717;
  --footer_textcolor: #918686;
  --font_main: roboto;
  --font_second: raleway;
  --font_size_bigger: 1.25rem;
  --font_size_big: 1.125rem;
  --font_size_medium: 1rem;
  --font_size_small: 0.875rem;
  --font_size_xsmall: 0.75rem;
  --font_size_smaller: 0.5rem;
  --body_w: 20rem;
  --header_h: 14rem;
  --bar_title_height: 3.1875rem;
  --bar_title_blue_w: 3.0625rem;
  --bar_title_yellow_w: 17.8125rem;
  --footer_h: 13.75rem;
  --border_size_ty: 0.5;
  --line-height: 1.5;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
  margin: 0;
  position: relative;
}
h1,
h2,
h3,
ul li {
  font-family: var(--font_main), sans-serif;
  font-weight: 700;
}
p {
  font-family: var(--font_second), sans-serif;
}
/* -------------------------------------header ----------------------------------------*/

header {
  height: var(--header_h);
  width: var(--body_w);
  background-image: linear-gradient(var(--header-bg), var(--bar_color1)),
    url(../img/menushape-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 40% 35%;
  border-bottom-right-radius: 40% 35%;
}
.menu_logo img {
  width: 90px;
  height: 35px;
}
.main_menu_title {
  font-size: var(--font_size_medium);
  font-weight: 700;
  color: var(--text_menu_title);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}
.main_menu_text,
.menu_container {
  font-size: var(--font_size_xsmall);
  color: var(--color_text_menu);
}
.menu_container {
  /* position: absolute; */
}
.main_content img {
  width: 98px;
  height: 65px;
}
.main_content h2 span {
  font-family: var(--font_main), sans-serif;
  font-size: var(--font_size_bigger);
  color: var(--text_menu_title);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
}
.bar_section .phone img {
  width: 1rem;
  height: 1rem;
}
.bar_section .phone img:nth-child(2) {
  width: 23px;
  height: 25px;
}
.bar_section h2 {
  color: var(--dark_textcolor);
  font-size: var(--font_size_small);
  font-weight: 700;
}
.bar_section p {
  color: var(--dark_textcolor);
  font-size: var(--font_size_xsmall);
}
/* .bar_section{
        display: flex;
    } */

.grid {
  display: grid;
}
img {
  width: 80%;
  display: block;
}
/* --------------------main --------------------------------------------------*/


.main_container .card img {
  width: 282px;
  height: 173px;
  
}

.card h3,
.card h3 p {
  color: var(--dark_textcolor);
}
.card h3 {
  font-size: var(--font_size_medium);
  font-weight: 700;
}
.card h3 p {
  font-size: var(--font_size_xsmall);
}

.phone h3 {
  font-size: var(--font_size_xsmall);
  color: var(--color_text_blue);
  border-width: 3px;
  border-style: solid;
  border-color: var(--color_text_blue);
  border-radius: 8px;
  padding: 4px 5px 4px 25px;
}

/*----------------------------- formulario------------------------------- */
.contact_form {
  color: var(--dark_textcolor);
  font-family: var(--font_second),sans-serif;
  font-size: var(--font_size_medium);
  position: relative;
}
/* ---------------------------footer---------------------------------------- */

footer {
  background-color: var(--footer_bg_color);
  height: var(--footer_h);
  width: var(--body_w);
  color: var(--footer_textcolor);
  display: grid;
}
ul li,
ul li a,
ul li span {
  text-decoration: none;
  color: inherit;
  font-size: var(--font_size_xsmall);
  list-style: none;
}

.copyright_container,
.copyright_container span,
ul li:nth-child(6) a,
ul li:nth-child(6) a span,
ul li:nth-child(7) a,
ul li:nth-child(7) a span,
ul li:nth-child(7) span {
  font-size: var(--font_size_smaller);
}
.footer_icon_container ul li a img {
  height: 17px;
  width: 17px;
}
.footer_icon_container ul li a img:nth-child(1) {
  width: 13px;
}
.footer_icon_container ul li a img:nth-child(2) {
  width: 1rem;
}
.footer_icon_container ul {
  display: flex;
  justify-content: flex-end;
}
.footer_icon_container ul li {
  margin-right: 15px;
}
.footer_icon_container ul li:nth-child(5) {
  margin-right: 20px;
}
